div.whatsapp-widget {
  font-family: Arial, Helvetica, sans-serif;
}

div.whatsapp-widget div.toggle {
  display: block;
  position: absolute;
  border-radius: 50%;
  background-color: #ffffff;
  padding: 0.2rem;
  -webkit-box-shadow: 0 0 1rem 0.2rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 1rem 0.2rem rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2rem;
  width: 2rem;
  bottom: 3rem;
  right: 2rem;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

div.whatsapp-widget div.toggle:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

div.whatsapp-widget div.toggle div {
  height: 70%;
  width: 70%;
  background: url("WALogo.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

div.whatsapp-widget div.chat {
  display: none;
}

div.whatsapp-widget div.chat.show {
  display: block;
  position: absolute;
  border-radius: 1rem;
  background-color: #ece5dd;
  height: 25rem;
  max-height: 70vh;
  width: 15rem;
  max-width: 70vw;
  bottom: 6rem;
  right: 2rem;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-shadow: 0 0 1rem 0.2rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 1rem 0.2rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

div.whatsapp-widget div.chat.show.pop {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

div.whatsapp-widget div.chat.show .chatheader {
  background-color: #128c7e;
  border-radius: 1rem 1rem 0 0;
  height: 3rem;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

div.whatsapp-widget div.chat.show .chatheader .chatavatar {
  margin: 0.5rem;
  width: 2rem;
  height: 2rem;
  background-color: #ffffff;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
}

div.whatsapp-widget div.chat.show .chatbody {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

div.whatsapp-widget div.chat.show .chatbody .chatmessage {
  display: inline-block;
  background-color: #ffffff;
  margin: 1rem;
  padding: 0.4rem 0.7rem;
  border-radius: 0 0.5rem 0.5rem 0.5rem;
}

div.whatsapp-widget div.chat.show .chatbody .chatmessage::before {
  content: " ";
  position: absolute;
  background-color: #ffffff;
  height: 0.7rem;
  width: 1rem;
  left: 0.5rem;
  top: 4rem;
  border-bottom-left-radius: 1rem;
}

div.whatsapp-widget div.chat.show .chatfooter {
  height: 3.5rem;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2.5rem;
      grid-template-columns: 1fr 2.5rem;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

div.whatsapp-widget div.chat.show .chatfooter .chatmessagebox {
  background-color: #ffffff;
  height: 2.5rem;
  border-radius: 0.5rem;
}

div.whatsapp-widget div.chat.show .chatfooter .chatmessagesend {
  background-color: #25d366;
  height: 2.5rem;
  border-radius: 100%;
}
/*# sourceMappingURL=whatsapp-widget.css.map */